.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 3;
  @include transition(opacity, visibility);

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  overflow: auto;
  z-index: 2;
  min-width: 90%;
  min-height: 597px;
  background: $bgColorSecondary;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  @include transition(transform);

  @include desktop {
    min-height: 581px;
  }
  &__title {
    margin-bottom: 50px;
    position: relative;
    &::after {
      @include content;
      left: 47%;
    }
  }
  &__text {
    text-align: center;
    margin-bottom: 60px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -70%);
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px;
  color: $mainColor;
  background-color: transparent;
  @include transition(color);

  &:hover,
  &:focus {
    color: $accentColor;
  }
}
